<div class="search-bar">
  <mat-form-field appearance="outline" class="search-input">
    <mat-label>Search CP Code</mat-label>
    <input matInput [(ngModel)]="cpCodeInput" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="searchCPCode()">Search</button>
</div>


<mat-table [dataSource]="filteredDataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="selection.toggle(row)"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Data Columns -->
  <ng-container matColumnDef="contractId">
    <mat-header-cell *matHeaderCellDef> Contract ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.contractId }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="groupId">
    <mat-header-cell *matHeaderCellDef> Group ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.groupId }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="productId">
    <mat-header-cell *matHeaderCellDef> Product ID </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.productId }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cpcodeName">
    <mat-header-cell *matHeaderCellDef> CP Code Name </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.cpcodeName }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="accountSwitchKey">
    <mat-header-cell *matHeaderCellDef> Account Switch Key </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{ row.accountSwitchKey }} </mat-cell>
  </ng-container>

  <!-- Action Buttons -->
  <ng-container matColumnDef="actions">
  <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
  <mat-cell *matCellDef="let row">
    <button mat-button class="delete" (click)="delete(row)">Delete</button>
    <button mat-button class="invalidate" (click)="invalidate(row)">Invalidate</button>
  </mat-cell>
</ng-container>


  <!-- Header and Row Definitions -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>


<div *ngIf="isSearchPerformed && dataSource.filteredData.length === 0">
  No matching CP Codes found.
</div>
